.root {
}

.stop-screen, .count-down-screen {
  -fx-font-size: 4em;
  -fx-font-weight: bold;
  -fx-text-fill: white;
  -fx-fill: white;
  -fx-background-color: cornflowerblue;
}

.stop-screen {
  -fx-background-color: red;
}
