@import "../scss/colors";
@import "../scss/fonts";

.startup-screen {
  .text {
    @include fontStartup($color-font);
  }
  -fx-background-color: $color-bg-startup;
}

.stop-screen {
  .text {
    @include fontCounter($color-font);
  }
  -fx-background-color: $color-bg-stop;
}

.countdown-screen {
  .text {
    @include fontCounter($color-font);
  }
  -fx-background-color: $color-bg-shooting;

  //noinspection CssInvalidPseudoSelector
  &:steady {
    -fx-background-color: $color-bg-steady;
  }

  //noinspection CssInvalidPseudoSelector
  &:up30 {
    -fx-background-color: $color-bg-shooting-30;
  }
}
